<div class="container">
    <div class=" header jumbotron">
        <h1 style="color:dodgerblue"><span class="glyphicon glyphicon-film">MovieFlix<span class="glyphicon glyphicon-music"></span></span></h1>
    </div>
    <h1 style="color:orangered">Enjoy the new experience of watching movies</h1>
</div>
    <div id="myCarousel" class="carousel slide container" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img style="max-width: 20%" src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg">
                <div class="carousel-caption">
                    <h3  style="color:black">The Shawshawnk's Redemption</h3>
                    <!--<p>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</p>-->
                </div>
            </div>

            <div class="item">
                <img style="max-width: 20%" src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg">
                <div class="carousel-caption">
                    <h3 style="color:black">Batman Begins</h3>
                    <!--<p>After training with his mentor, Batman begins his war on crime to free the crime-ridden Gotham City from corruption that the Scarecrow and the League of Shadows have cast upon it.</p>-->
                </div>
            </div>

            <div class="item">
                <img style="max-width: 20%" src="http://ia.media-imdb.com/images/M/MV5BMTAzZmJiOGQtOWM3NS00MDEwLWJiNGEtN2QzMDM3NDJjMWQwXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_SX300.jpg">
                <div class="carousel-caption">
                    <h3 style="color:black">Airlift</h3>
                    <!--<p>Airlift is an uplifting and entertaining edge-of-the-seat thriller and is the story of the biggest ever human evacuation in the history of mankind</p>-->
                </div>
            </div>

            <div class="item">
                <img style="max-width: 20%" src="http://ia.media-imdb.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_SX300.jpg">
                <div class="carousel-caption">
                    <h3 style="color:black">The Wolf of Wall Street</h3>
                    <!--<p>Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.</p>-->
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
