<div class="container">
    <div class="jumbotron">
        <h3><span class="glyphicon glyphicon-user">Sign-In </a></span></h3>
        <form role="form">
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="email" required>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="password" required>
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-default btn-info" role="button">Login</button>
                <a ng-href="#/signup"  class="btn btn-default btn-danger">New USer</a>
            </div>
        </form>
    </div>
</div>
