<!DOCTYPE html>
<html lang="en" ng-app="movieflix">
<head>
  <meta charset="UTF-8">
  <title>MovieFlix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- bower:css -->
  <!-- endinject -->

  <!-- vendor:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->

  <!-- app:css -->
  <!-- endinject -->
  <!-- Auth0's lock widget library -->
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top" ng-controller="AuthController as authVm">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ng-if="authVm.auth.isAuthenticated" class="navbar-brand" ng-href="#/movies" type="button"><span class="glyphicon glyphicon-film">MovieFlix</span></a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".headerCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse headerCollapse">
        <ul class="nav navbar-nav">
          <li><a ng-href="#/home" type="button">Home</a></li>
          <li class="dropdown">
            <a ng-if="authVm.auth.isAuthenticated" class="dropdown-toggle" data-toggle="dropdown" type="button">Type <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown" href="#/movies/type/movie" type="button">Movies</a></li>
              <li><a class="dropdown" href="#/movies/type/series" type="button">Series</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a ng-if="authVm.auth.isAuthenticated" class="dropdown-toggle" data-toggle="dropdown" type="button">Genre <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown" href="#/movies/genre/Comedy"> Comedy </a></li>
              <li><a class="dropdown" href="#/movies/genre/Action"> Action </a></li>
              <li><a class="dropdown" href="#/movies/genre/Thriller"> Thriller </a></li>
              <li><a class="dropdown" href="#/movies/genre/Horror"> Horror </a></li>
              <li><a class="dropdown" href="#/movies/genre/Romance"> Romance </a></li>
              <li><a class="dropdown" href="#/movies/genre/Drama"> Drama </a></li>
              <li><a class="dropdown" href="#/movies/genre/Sci-fi"> Sci-fi </a></li>
              <li><a class="dropdown" href="#/movies/genre/Fantacy"> Fantacy </a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="authVm.login()" ng-if="!authVm.auth.isAuthenticated" type="button"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a ng-if="authVm.auth.isAuthenticated" href="#/profile" class="glyphicon glyphicon-user" type="button"> Profile </a></li>
          <li><a ng-click="authVm.logout()" ng-if="authVm.auth.isAuthenticated" type="button"><span class="glyphicon glyphicon-log-out"></span> Logout<i class="fa fa-sign-out"></i></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
  <section ng-view>

  </section>
  <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" style="color:yellowgreen">
      <div class="container">
        <div class="col-sm-6 right">
          &copy; MovieFlix Inc.
        </div>
      </div>
    </div>
  </footer>

  <!-- bower:js -->
  <!-- endinject -->

  <!-- vendor:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <!-- app:js -->
  <!-- endinject -->
</body>
</html>