**/.idea

**/node_modules
**/bower_components
**/.tmp
**/.dist
**/.sass-cache

**/.settings
**/.metadata
**/Servers
**/RemoteSystemsTempFiles

**/target/*

**/.recommenders
**/.project
**/.classpath
server/MovieFlix-Server/.gitignore
server/MovieFlix-Server/src/main/java/io/egen/utility/IMDBRatingComparator.java
